USE [DNN]
GO
/****** Object:  Table [dbo].[CALENDAR_MANAGER]    Script Date: 10/03/2020 12:50:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALENDAR_MANAGER](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titel] [nvarchar](500) NULL,
	[Update] [date] NULL,
	[Update by] [nvarchar](50) NULL,
	[Content] [ntext] NULL,
 CONSTRAINT [PK_CALENDAR_MANAGER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
